

    <div  class="container" style="margin: 20px auto 0 auto;width: 500px;">
       

        <table class="table table-bordered">
            <tbody>
                <tr><td style="text-align: center;">İstifadəçi adı : </td> <td> <input class="form-control ng-pristine ng-valid ng-touched" type="text" [(ngModel)]="username" /> </td></tr>
                <tr><td style="text-align: center;">Şifrə : </td> <td> <input class="form-control ng-pristine ng-valid ng-touched" type="password" [(ngModel)]="password"/> </td></tr>
                
                <tr>
                  
                    
                    <td  style="text-align: center;"> <button  (click)="openSignupWindow()"  class="btn btn-primary">Hesab yarat</button> </td> <td>  <button (click)="onLogin()" class="btn btn-success">Daxil ol</button> </td>
                </tr>
                    
            </tbody>
        </table>
    </div>

<hr>
{{message}}