


 <body>
    <div class="login" style="padding-top:270px;">
        <section id="content">
            <form action="">
                <h1>Login Form</h1>
                <div>
                    <input [(ngModel)]="username" name="username"  type="text" placeholder="Username" required="required" id="username" />
                </div>
                <div>
                    <input [(ngModel)]="password" name="password"  type="password" placeholder="Password" required="required" id="password" />
                </div>
                <div style="margin-left: 35px;">
                    <input (click)="onLogin()" type="submit" value="Log in" />
                        <input (click)="openSignupWindow()" type="submit" value="Register" />
                </div>
            </form><!-- form -->
            <div class="button">
            
            </div><!-- button -->
        </section><!-- content -->
    </div><!-- container -->
    </body>
    
