<h4  style="color: rgb(248, 248, 248);background-color: rgb(41, 94, 194);text-align: center; margin-left: 25px;">Developia Engineering Academy (Full Stack Web Application : Library Management System)</h4>
<button (click)="onAddProduct()"  class="btn btn-primary" style="margin-left: 25px;">Yeni kitab qeydiyyatı</button>

 
   
    <div class="row" style="margin-left: 10px; margin-top:10px ;"  >
        
        <div class="col-sm-12">
           <table  class="table table-striped table-bordered table-sm row-border hover"
            datatable [dtOptions]="dtOptions"
           [dtTrigger]="dtTrigger"   >
                <thead  >
                    <tr  role="row">
                        <th  class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 82.0486px;">ID</th>
                        <th  class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Ad: activate to sort column ascending" style="width: 174.271px;">Ad</th>

                        <th  class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Şəkil: activate to sort column ascending" style="width: 98.7153px;">Şəkil</th>

                        <th  class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Səhifə sayı: activate to sort column ascending" style="width: 178.715px;">Səhifə sayı</th>

                        <th  class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Qiymət: activate to sort column ascending" style="width: 133.16px;">Qiymət</th>

                        <th  class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Müəllif: activate to sort column ascending" style="width: 147.604px;">Müəllif</th>

                        <th  class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Təsvir: activate to sort column ascending" style="width: 115.382px;">Təsvir</th>

                        <th  class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Əməliyyatlar: activate to sort column ascending" style="width: 336.493px;">Əməliyyatlar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products" role="row" class="even" >
                        <td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        
                        
                        <td>
<img [src]="download+p.image" style="width: 50px;" />

                        </td>
                        <td>{{p.page}}</td>
                        <td>{{p.price}}</td>
                        <td>{{p.ownerName}}</td>
                        <td>{{p.description}}</td>
                        
                            <td style="min-width: 180px;" >{{p.emeliyyatlar}}
          
            <button  (click)="onProductUpdate(counter)" style="margin-left: 5px;" class="btn btn-outline-primary">Redaktə</button>
        </td>
        

                            
                        
                         
                    </tr>
                </tbody>
            </table>
        </div>
     
</div>

