<div class="card" style="float: left;margin: 20px;padding: 5px;  ">
  <img [src]="downloadPath+product.image" class="card-image" alt="" style="width: 200px;height: 300px;">
  <div class="card-body">



    <p class="name" style="color: blue; font-weight:bold;">{{product.name}}</p>

    <p class="card-text" style="color: blue; font-weight:bold;">Müəllif:{{product.ownerName}}</p>



    <div style="width: 100%;height: 30px;
       color:rgb(32, 148, 61); font-weight: bold;">Qiymət:{{product.price}} AZN</div>
    <p class="card-text" style="color: gray
      ; font-weight:bold;">Təsvir:{{product.description}}</p>
    <button class="btn btn-primary" (click)="toBasket()">Səbətə</button>

  </div>

</div>