 


 
 
  <div class="card" style="float: left;margin: 10px;padding: 5px;  ">
    <img [src]="downloadPath+product.image" class="card-img-top" alt=""
    style="width: 120px;height: 120px;">
    <div class="card-body">
      
      
      
        <p class="book_name" style="color: blue; font-weight:bold;">{{product.name}}</p>
        <p class="card-text" style="color: blue; font-weight:bold;" >Müəllif:{{product.ownerName}}</p>
    
      
      
      <div style="width: 100%;height: 30px;
       color:rgb(32, 148, 61);text-align: center;">
      Qiymət:{{product.price}} - AZN</div>
      <p class="card-text" style="color: gray
      ; font-weight:bold;">Təsvir:{{product.description}}</p>
      <button class="btn btn-primary" (click)="toBasket()">Səbətə</button>

    </div>

    </div>
  </div>
  