<!-- Start of form -->
<div class="container" style="padding-top: 140px;  ">
    <div class="form" >
      <h2 class="main-text">Sign up today</h2>
      <!-- Start of form -->
      <form class="register-form" >
        <input  [(ngModel)]="user.username" name="username"  required   type="first_name" placeholder="first name">
        <input  [(ngModel)]="user.name" name="name"    required  type="last_name" placeholder="last name">
        <input  [(ngModel)]="user.password" name="password"   required   type="password" placeholder="password">
        <input type="text" placeholder="email address">
        <button class="btn">Sign me up!</button>
        <p class="message">Already registered? <a href="login">Sign In</a></p>
      </form>
      <!-- End of form -->
    </div>
  </div>
  <!-- End of form -->
  